

.shindo_logo {
    margin-top: 1rem;
    font-family: 'Yuji Syuku', serif;
}


.shindo_nav {
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;

}


.footer {
    text-align: left;
    margin-left: 2rem;
}

.header {
    text-align: left;
    margin-top: 2rem ;
    margin-left: 2rem ;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.footer_team {
    text-align: left;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0.5rem 0;
}


.footer_copyright {
    text-align: left;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    color: lightgray;
    margin: 0.4rem 0;
}




html,body{
    margin:0;
    height:100%;
}
.index_img {
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

.index_logo {
    font-family: 'Yuji Syuku', serif;
    color: white;
    font-size:72px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.search_button {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

/*.header_search {*/
/*    margin-bottom: 0.5rem;*/

/*}*/

.index_search_btn {
    color: white;
    background-color: dimgrey;
    opacity: 80%;
    width: 6rem;
    border-radius: 5px;

}