

<div style="text-align: center; margin: 2rem 0;">
    <div>
{#        <h1 style="font-family: 'Schoolbell', cursive;">GwangShinDo's Pick!</h1>#}
{#        <h1 style="font-family: 'Oswald', sans-serif;">GwangShinDo's Pick!</h1>#}
{#        <h1 style="font-family: 'Permanent Marker', cursive;">GwangShinDo's Pick!</h1>#}
        <h1 style="font-family: 'Yuji Syuku', serif;">GwangShinDo's Pick!</h1>
{#        <h1 style="font-family: 'Archivo Black', sans-serif;">GwangShinDo's Pick!</h1>#}
    </div>
    <div style="font-size: 14px;">
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        <span>nav4</span>
    </div>
</div>