

<div class="header" style="display: flex; justify-content: center;">
    <div style="display: flex; align-items: flex-end; justify-content: space-between; width: 85rem;">
        <div style="display: flex; justify-content: flex-start; align-items: flex-end;">
            <div style="margin-right: 1rem;">
                <h1 class="shindo_logo">GwangShinDo's Pick!</h1>
            </div>
            <div class="shindo_nav">
                <span style="margin-right: 0.3rem;">HOME</span>
                <span style="margin-right: 0.3rem;">ABOUT</span>
                <span style="margin-right: 0.3rem;">PICK</span>
                <span>SIGN UP</span>
            </div>
        </div>

        <div>
            <form action="/article/search/" method="get">
                <div style="display: flex; justify-content: flex-end">
                    <select name="region_input" class="header_search_select">
                        <option selected="selected">지역</option>
                            <option value= "경기">경기,서울</option>
                            <option>인천</option>
                            <option>부산</option>
                            <option>대구</option>
                            <option>광주</option>
                            <option>대전</option>
                            <option>울산</option>

                    </select>
                    <input type="text" name="addr_input" class="header_search_addr" placeholder="군 or 구 or 동">
                    <input type="text" name="menu_input" class="header_search_menu" placeholder="메뉴">
                    <input type="submit" class="header_search_btn" value="search">
                </div>

            </form>
        </div>

    </div>

</div>