<!DOCTYPE html>
{% load static %}

<html lang="ko">

    {% include 'head.html' %}

    <body>

        <div style="height: 100%">
            <img src="{% static 'img/main-10.12.00-AM.jpg' %}" class="index_img">
            <p class="index_logo">GwangShinDo's Pick!</p>
        </div>
        <div>
            <form action="/article/search/" method="post" class="search_button" >
                {% csrf_token %}
                <div>
                    <select name="region_input" class="index_search_bar">
                        <option>지역</option>
                            <option selected="selected" value="경기">경기,서울</option>
                            <option>인천</option>
                            <option>부산</option>
                            <option>대구</option>
                            <option>광주</option>
                            <option>대전</option>
                            <option>울산</option>

                    </select>
                    <input type="text" name="addr_input" class="index_search_bar" placeholder="동,군을 입력해주세요">
                </div>
                <div>
                    <input type="text" name="menu_input" class="index_search_bar" placeholder="메뉴를 입력해주세요">
                </div>
                <div>
                    <input type="submit" class="index_search_btn" value="search">
                </div>
            </form>

            <h1>
                {{ text }}
            </h1>

        </div>

    </body>
</html>